div{
    height: 20em;
    width: 100%;
    border: 1px solid;

}
/* table ,th ,td, tr{
    border: 1px solid;
    padding: 10px;
} */
table{
    background-color: black;
    color: gold;
    margin-left: auto;
    margin-right: auto;
}
th,tr,td{
    border: 1px solid gold;

}


img{
    height: 50px;
    width: 50px;
}